.ContactUsContainer {
    background: url('https://images.unsplash.com/photo-1697545806245-9795b6056141?q=80&w=2574&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    height: 90vh;
    justify-content: center;
    align-items: center;
    overflow: scroll;
}

.StoreInfo {
    background-color: rgba(32, 32, 33, 0.129);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    padding: 35px;
}

.Hub {
    display: flex;
    justify-content: center;
    align-items: center;
}

.PhoneNum, .LiveChat {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
}

.ContactMe {
    display: flex;
    gap: 20px;
    align-items: center;
}

.Linkedin {
    font-size: 40px;
    cursor: pointer;
    color: blue;
}

.GitHub {
    font-size: 100px;
    cursor: pointer;
}

.MyName {
    font-size: 25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.Email {
    font-size: 40px;
    color: orange;
    cursor: pointer;
}
