.SingleOrderContainer {
    border: 3px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}

.OrderPhoneImg {
    width: 130px;
    height: 130px;
    object-fit: cover;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
}

.OrderDetails {
    display: flex;
    gap: 50px;
    background-color: lightgrey;
    justify-content: space-around;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
    font-size: 18px;
    font-weight: bold;
    padding: 10px
}

.OrderPhoneImgContainer {
    display: flex;
    padding-left: 10px;
}

.ItemDetails {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    width: 83%;
}

.ItemCounts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    color: black;
    align-items: center;
    margin-bottom: 10px;
    font-family: cursive;
    font-weight: bold;
    margin-right: 10px;
    width: 12%;
    gap: 10px;
}

.ItemCounts > button {
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 15px;
    width: 150px;
    height: 30px;
}

.ItemCounts > button:hover {
    color: orange;
    font-weight: bold;
}


.PhonePicAndModel {
    display: flex;
    width: 430px;
}

.MSP {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.ButtonsssContainer {
    display: flex;
    flex-direction: column;
    width: 5%;
    padding-right: 0px;
    gap: 10px;
    justify-content: center;
}

.ButtonsssContainer > button {
    color: white;
    background-color: black;
    width: 70px;
    border-radius: 10px;
    height: 30px;
    border-radius: 25px;
    font-family: cursive;
}

.ButtonsssContainer > button:hover {
    color: orange;
    font-weight: bold;
}
