.Banner {
    background-image: url("https://images.unsplash.com/photo-1509315703195-529879416a7d?q=80&w=2340&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 50px;
    height: 380px;
    display: flex;
}

.Orders {
    display: flex;
    justify-content: center;
    background-color: black;
    color: orange;
}

.OrderContainer {
    display: flex;
}

.StatusContainer {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 20px;
    font-size: 20px;
    padding-top: 40px;
    border: 3px solid black;
    background-color: grey;
    width: 10%;
    padding-bottom: 40px;
}

.StatusContainer > li {
    list-style: none;
    cursor: pointer;
    text-align: center;
}

.SelectedStatus {
    text-decoration: underline;
    font-weight: bold;
    color: black;
    font-size: 25px;
}

.Status {
    color: white;
}

.DetailsContainer {
    margin-left: 20px;
    margin-top: 20px;
    width: 100%;
}
