.CheckOutContainer {
    background:
    linear-gradient(to bottom, rgba(135, 127, 127, 0.6), rgba(164, 150, 150, 0.6)),
    url('https://images.unsplash.com/photo-1654263937079-f63a3ea4d48b?q=80&w=2670&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 10px;
    border: 5px solid black;
    border-radius: 15px;
    width: 80%;
    margin: 10px auto;
}

.CheckOutHeader {
    border-bottom: 5px solid black;
}

.CheckOutHeader > h1 {
    display: flex;
    justify-content: center;
}

.ReviewItemAndShipping {
    border-bottom: 5px solid black;
    display: flex;
    align-items: center;
}

.ShippingFormContainer {
    display: flex;
    padding-bottom: 15px;
    height: 550px;
    align-items: center;
}

.CheckOutForm {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 20px;
    align-items: flex-start;

}

.CheckOutForm > label {
    display: flex;
    gap: 10px;
    width: 300px;
}

.CheckOutForm > label > select,
.CheckOutForm > label > input {
    align-self: center;
    padding-left: 10px;
    border-radius: 20px;
    height: 45px;
    border: 3px solid black;
    display: flex;
    font-size: 15px;
    width: 100%;
}

.AddressTitle {
    display: flex;
    width: 25%;
    gap: 10px;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: bold;
    font-size: 25px;
}

.ReviewItemAndShipping {
    display: flex;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: bold;
    gap: 10px;
    font-size: 25px;
    padding-bottom: 15px;
}

.One, .Two, .Three, .Four {
    font-size: 32px;
}

.checkoutItemImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 25px;
}

.CartItemssContainer {
    display: flex;
    border: 3px solid black;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    background-color: transparent;
    backdrop-filter: blur(5px);
    width: 500px;
    justify-content: space-between;
}


.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 15px;
    justify-content: center;
}

.itemInfo > p {
    color: black;
}

.NumAndTitle {
    display: flex;
    gap: 10px;
    width: 25%;
}

.CheckOutItem {
    display: flex;
    flex-wrap: wrap;
    gap: 15px
}

.AddMinusDelete {
    display: flex;
    gap: 10px;
}

.ShippingAndTwo, .PaymentAndThree {
    display: flex;
    padding-left: 15px;
    padding-top: 15px;
    font-weight: bold;
    gap: 10px;
    font-size: 25px;
    padding-bottom: 15px;
}

.ShippingMForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.ShippingAndTwo {
    width: 25%;
}

.ShippingMethodContainer {
    display: flex;
    border-bottom: 5px solid black;
    align-items: center;
}

.Payment {
    display: flex;
    border-bottom: 5px solid black;
    height: 200px;
    align-items: center;
}

.ShippingMForm > label {
    font-size: 25px;
}

.PaymentAndThree {
    width: 25%;
}

.PaymentDetails {
    display: flex;
    gap: 30px;
}

.PD > p {
    font-weight: bold;
    font-size: 25px;
}

.PD {
    padding-top: 15px;
    padding-bottom: 15px;
}

.ChangePayment {
    padding-top: 20px;
}

.ChangePayment > p {
    font-size: 15px;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.CheckOutForm > h3 {
    color: blue;
    font-weight: bold;
    font-size: 30px;
    width: 1000px;
}

.OrderButton {
    height: 50px;
    width: 200px;
    border: 3px solid black;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.CO {
    display: flex;
}
