.ReviewsContainer {
    display: flex;
    flex-direction: column;
    gap: 20px
}

.ReviewsContainer > h1 {
    color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
}

.ReviewDetails {
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.ReviewAndUser {
    display: flex;
}

.Reviewdes {
    color: white;
}

.UserName {
    font-weight: bold;
    color: white
}

.StarAndDate {
    display: flex;
    gap: 10px;
}

.fa-solid.fa-star {
    color: orange;
}

.Date {
    color: white;
}

.StarAndDate button {
    cursor: pointer;
    font-size: 14px;
    border-radius: 6px;
    color: #ffffff;
    background-color: red;
    border: 1px solid red;
    font-weight: bold;
    height: 25px;
    width: 80px;
}
