.ItemContainer {
    display: flex;
    border: 1px solid black;
    border-radius: 15px;
    margin: 10px;
}

.InnerContainer {
    width: 1050px;
}

.ModelStorage {
    display: flex;
    font-weight: bold;
    font-size: 20px;
    gap: 20px
}


.InvImage {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 15px;
}
