.ItemsContainer {
  display: flex;
  border: 1px solid white;
  border-radius: 15px;
  margin-bottom: 15px;
  height: 200px;
}

.InnerContainer {
  display: flex;
  flex-direction: column;
  width: 45%;
  padding: 10px;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
}

.ImageContainer {
  width: 32%;
}

.ButtonsContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
  padding-right: 20px;
  width: 20%;
}

.ModelStorage > p {
  color: orange;
  font-size: 23px;
  word-wrap: break-word;
}

.ColorAndCarrier > p {
  color: white;
  word-wrap: break-word;
}

.Condition > p {
  font-weight: bold;
  color: grey;
  word-wrap: break-word;
}

.SoldOut {
  color: red;
  font-weight: bold;
}

.ModelStorage {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  gap: 20px;
}

.InvImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 15px 15px 0;
  border-left: 1px solid white;
}

.UpdateItemLink {
  cursor: pointer;
  border: 1px solid;
  border-radius: 6px;
  background-color: black;
  border-color: white;
  color: white;
  text-align: center;
  height: 25px;
  width: 80px;
  font-size: 14px;
  font-weight: bold;
}

.AvalUnits {
  color: red;
  font-weight: bold;
}

.Price {
  color: orange;
  font-weight: bold;
}

.UpdateItemLink > a {
  text-decoration: none;
  color: white;
}

.AddCartButton {
  cursor: pointer;
  font-size: 14px;
  border-radius: 6px;
  font-weight: bold;
  height: 25px;
  width: 80px;
}

.DeleteItemButton button {
  cursor: pointer;
  font-size: 14px;
  border-radius: 6px;
  color: #ffffff;
  background-color: red;
  border: 1px solid red;
  font-weight: bold;
  height: 25px;
  width: 80px;
}

.editdeletecontainer {
  display: flex;
  gap: 15px;
}
