.ItemContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 15px;
  margin: 10px;
  width: 100%;
  padding-left: 10px;
}

.InnerContainer {
  display: flex;
}

.ModelStorage > p,
.ColorAndCarrier > p,
.ConditionAndPrice > p {
  color: white;
}

.ModelStorage {
  display: flex;
  font-weight: bold;
  font-size: 20px;
  gap: 20px;
}

.InvImage {
  width: 300px;
  height: 100%;
  object-fit: cover;
  border-radius: 0 15px 15px 0;
  border-left: 1px solid white;
}

.UpdateItemLink {
  cursor: pointer;
  border: 1px solid;
  border-radius: 6px;
  background-color: black;
  border-color: white;
  color: white;
  text-align: center;
  height: 25px;
  width: 80px;
  font-size: 14px;
  font-weight: bold;
}

.UpdateItemLink > a {
  text-decoration: none;
  color: white;
}

.DeleteItemButton button {
  cursor: pointer;
  font-size: 14px;
  border-radius: 6px;
  color: #ffffff;
  background-color: red;
  border: 1px solid red;
  font-weight: bold;
  height: 25px;
  width: 80px;
}
