.ModelAndItemContainer {
    display: flex;
}

.ModelsContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-weight: bold;
    padding: 20px;
    background-color: black;
    width: 250px;
    border: 1px solid white;
    margin: 10px;
    border-radius: 15px;
}

.SelectedModel {
    font-size: 23px;
    cursor: pointer;
    color: orange;
    font-weight: bold;
    text-decoration: underline;
}

.Models {
    cursor: pointer;
    color: white;
}
