.BrandContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    gap: 15px;
    height: 80px;
}

.Brands {
    font-size: 23px;
    cursor: pointer;
    color: white;
}
