.Cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 15px;
  border: 2px solid white;
  width: 140px;
  height: 30px;
  border-radius: 20px;
}

.ItemCount{
  font-family: cursive;
  font-weight: bold;
  color: white
}

.CartLogo {
  font-size: 25px;
}

.ItemCount:hover {
  color: gold
}
