.Cart {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: white;
  font-size: 15px;
  border: 2px solid white;
  width: 140px;
  height: 30px;
  border-radius: 20px;
}

.ItemCount{
  font-family: cursive;
  font-weight: bold;
  color: white
}

.CartLogo {
  font-size: 25px;
}

.ItemCount:hover {
  color: gold
}

.CartLogo:hover {
  color: gold
}

.cart-dropdown {
  right: 160px;
  top: 70px;
  width: 500px;
  position: absolute;
  padding: 15px;
  list-style-type: none;
  margin-top: 5px;
  background-color: lightgray;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1),
            0px 2px 4px rgba(0, 0, 0, 0.08),
            0px 1px 2px rgba(0, 0, 0, 0.06);
}

.cart-dropdown.hidden {
	display: none;
}
