.NavContainer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
}

.LogoAndName {
  display: flex;
  justify-content: center;
  align-items: center;
}


.fa-brands.fa-whatsapp {
  color: white;
  font-size: 25px;
}

.Logo {
  color: white;
  font-size: 30px;
  margin-left: 25px;
}

.StoreName {
  font-weight: bold;
  color: white;
  font-size: 25px;
  margin-left: 15px;
  cursor: pointer;
}

.fa-brands.fa-whatsapp:hover {
  color: lightgreen;
}

.StoreName:hover {
  color: orange;
}

.NavContainer li {
  list-style: none;
}

.NavContainer .links {
  display: flex;
  gap: 55px;
}

.NavContainer a {
  text-decoration: none;
  color: white;
}

.NavContainer a:hover {
  color: gold;
  font-weight: bold;
}

.LoginButton button {
  width: 120px;
  height: 40px;
  border-radius: 40px;
  border: 1px solid white;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: 600;
  margin-right: 20px;
}

.LoginButton button:hover {
  background-color: orange;
}

.fa-solid.fa-bars {
  color: white;
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.fa-solid.fa-x {
  color: white;
  margin-right: 20px;
  font-size: 25px;
  cursor: pointer;
}

.CartButton {
  color: white;
  margin-right: 150px;
}

.CartAndSideBar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-right: 15px;
}

.Open {
  position: absolute;
  top: 75px;
  right: 10px;
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
  max-height: 170px;
  width: 180px;
  transition: max-height 0.3s ease;
}

.Open li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  cursor: pointer;
}

.Open li:hover {
  color: orange;
  font-weight: bold;
}

.Open a {
  color: black;
}

.Close {
  display: none
}

.WelcomeMsg {
  font-weight: bold;
  display: flex;
  text-decoration: underline;
  justify-content: center;
  margin-bottom: 8px;
}

.LogOutButton {
  width: 100%;
  border-radius: 20px;
  background-color: orange;
  color: white;
  height: 30px;
}

@media (max-width: 1250px) {
  .NavContainer .links {
    display: none;
  }

  .StoreName .LoginButton {
    display: block;
  }

  .DropDownMenu {
    display: block;
  }
}
