.fa-solid.fa-bars {
    color: white;
}

.DropDownMenu {
  position: absolute;
  top: 75px;
  width: 150px;
  right: 130px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  gap: 20px;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding: 15px;
}

.DropDownMenu li:hover {
  color: orange;
}

.DropDownMenu button {
  width: 100%;
}

.DropDownMenu.open {
  height: 150px;
}
